<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/global.css">
    <title>Tic Tac Toe</title>
</head>
<body>
    <h1>Tic Tac Toe</h1>
    <div class="main">
        <a href="http://127.0.0.1:5000/singlePlayer"><button class="btn">Single Player</button></a>
        <a href="http://127.0.0.1:5000/twoPlayer"><button class="btn">Two Player</button></a>
    </div>
</body>
</html>